@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html{ box-sizing: border-box; }
*, *::after, *::before{box-sizing: inherit;}
html.suspended {background: rgba(0,0,0,0.6);}

body {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    color: #1F1E19;
    font-weight: 400;  
}

@media screen and (max-width: 320px){
    body{ min-width: 320px; }
}

a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
p,ul,ol,li{ padding:0; margin:0; list-style-type: none;}
img{ display: block; }


h1 {
    font-size: 74px;
    font-weight: 800;
    line-height: 135%;
    font-family: 'Poppins',sans-serif;
}

h2{
	font-size: 64px;
	font-weight: 800;
	line-height: 135%;
	font-family: 'Poppins',sans-serif;
}

h3{
	font-size: 55px;
	font-weight: 800;
	line-height: 135%;
	font-family: 'Poppins',sans-serif;
}



.social a {font-family: "socialico";font-weight: 400;display: inline-block;vertical-align: middle;line-height: 121%;font-size: 39px; letter-spacing: .3em; transition: all 0.1s linear;}
.social a:hover{text-shadow: 0 0 10px #000; transform: scale(1.2); }
.row {max-width: 1445px; margin: 0 auto; padding-left: 10px; padding-right: 10px;}

.font2 { font-family: 'Poppins',sans-serif; }

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.destroy-on-load, .cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}


/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}

.ctc-form input[ type="text"], .ctc-form textarea {
    font-family:'Century Gothic';
    font-size: 14px;
    color: #000000;;
    display: block;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #AAAAAA;
}

.ctc-form textarea {
    height: 120px;
    padding-bottom: 10px;
    text-align: center;
}

.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

button {
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    padding: 15px 0;
    background: #D90000;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    max-width: 233px;
    width: 100%;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 4px;
    font-family: 'Century Gothic',sans-serif;
    letter-spacing: .025em;
    margin-top: 20px;
    transition: all 0.5s linear;
}

button:hover { background: #000; box-shadow: 0 0 2px #fff; }

.lower-contact {
    background-color: #FFFFFF;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: -1px;
}


.lower-contact .contact-title p {
    font-family: 'Montserrat', sans-serif;
    line-height: 120%;
    color: #000000;
    font-weight: 400;
    letter-spacing: .176em;
    font-size: 22px;    
    margin-bottom: 30px;
}

.lower-contact input[type="text"] {
    max-width: 346px;
    width: 32.8%;
    display: inline-block;
    margin: 0 15px;
    margin-bottom: 20px;
}

.lower-contact textarea {
    max-width: 1081px;
    width: 100%;
    resize: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

/*buttons*/
.btn-holder a {
    position: relative;
    display: block;
    padding: 8px 22px;
    font-family: 'Teko', sans-serif;
    line-height: 44px;
    font-weight: 300;
    letter-spacing: .14em;
    color: #FFFFFF;
    font-size: 22px;
    margin: 0 auto;
    transition: all 0.5s linear;
    text-align: center;
}

.btn-left a{ margin-right: 0; }
.btn-right a{ margin-left: 0; }

.btn-holder a:hover{ background: #000; box-shadow: 0 0 2px #fff; }

.btn-long a{
    width: 286px;
    max-width: 100%;
}

.btn-short a{
    width: 208px;
    max-width: 100%;
}

.btn-red a{    
    background: #D90000;
}

.btn-green a{        
    background: #35CD09;
}

.red{ color: #D80000; }
.green{ color: #34CC08; }





/*header*/
#header {color:#fff;}
#header .top{ background:#CE0005; }
#header .wrapper{ width: 100%; max-width: 931px; }
#header .wrapper .fr{ width:100%; max-width: 375px; padding: 5px 0; }
#header .tel{ font-family: 'Poppins', sans-serif; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#header .label{ font-weight:300; font-size:16px; line-height: 120%; letter-spacing: .02em; color: #fff;margin-right: 8px; display:table-cell; vertical-align:middle; }
#header .tel a { font-weight:800; font-size:32px; line-height: 1.2; }
#header .bot{ transition: all .5s ease-in-out; }
#header .bot .logo { margin-top: -48px; margin-bottom: -151px; position: relative;z-index: 1;}
#header nav {max-height: 110px;}
#header nav a#pull {display: none}
#header .tel a:hover {text-shadow: 0 0 10px #313131; transition: all 0.1s linear;}
#header nav ul {margin: 0 ;padding-top: 70px; max-width: 916px; letter-spacing: 0.07em;}
#header nav ul li {display: inline-block;vertical-align: middle; margin-right: 36px;}
#header nav ul li:last-of-type { margin-right: 0; }
#header nav ul li a { font-size: 16px; font-weight: 700; line-height: 120%; color: #666666; padding-bottom: 5px; border-bottom: 15px solid transparent; }
#header nav ul li.active-menu a, #header nav ul li a:hover { transition: all 0.4s linear; color: #CE0005; border-color: #35CD09;}

/*banner*/
#banner { 
    width: 100%; 
    position: relative;
    font-family: 'Poppins',sans-serif;
}

#banner .banner-img img{ 
    width: 100%;
    height: auto; 
}

#banner .banner-text {
    width: 100%;
    position: absolute;
    bottom: 205px;

}

#banner .banner-title {
    margin-bottom: 29px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 54px;
}

.lower-banner {
    background-color: #CE0005; 
    padding: 26px;
}

.lower-banner .lb-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    color: #FFFFFF;
}



/*content*/
/*#content {padding: 40px 0}*/

/*line*/
.line {
    width: 100%;
    margin: 43px 0;
    position: relative;
}

.line:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #AAAAAA;
    position: absolute;
    left: 0;
    top: 50%;
}

.line img {
    margin: 0 auto;
    display: inline-block;
    z-index: 1;
    padding: 0 20px 0 20px;
    position: relative;    
}

/*.line img:hover, .review .arrow img:hover{
  transform: scale(1.2);
    (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 

}*/
.welcome {
    text-align: left;
    max-width: 100%;
    width: 100%;
}

.welcome .sub-heading {
    font-size: 23px;
    line-height: 225%;
    width: 593px;
    max-width: 100%;
    font-weight: 700;
} 

.welcome .header {
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2em;
    color: #1F1E19;
    display: block;
}

.welcome .fl{
    width: 100%;
    max-width: 672px;
}

.welcome .fr {
    max-width: 894px;
    width: 100%;
    margin-right: -247px;
}

.welcome p{
    letter-spacing: .03em;
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 30px;
}

.welcome img{	
	width: 100%;
	height: auto;
}



.services {
	max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
}



.services img {
    height: auto;
    width: 100%;
    max-width: 204px;
    margin: 0 auto;
}

.services .wrapper {
    max-width: 452px;
    width: 100%;
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    padding: 20px 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    border-radius: 10px;
}

.services .wrapper:hover{ border-color:#35CD09; }

.services .wrapper span{
   font-family: 'Poppins',sans-serif;
   font-size: 25px;
   line-height: 135%;
   font-weight: 800;
}

.services .wrapper ul{ margin-top: 15px; }

.services .service1 { padding-bottom: 72px;}
.services .service2 { padding: 43px 0px;}

.services .first-paragraph p{
    letter-spacing: .033em;
    line-height: 36px;    
    padding: 15px 0;
}

.services .wrapper li{
    letter-spacing: 0.06em;
    line-height: 26px;
}

.services .services-wrappers{	
    margin-top: 54px;
}

.improve {
    background: #EEEEEE;
    max-width: 100%;
    width: 100%;
    padding: 60px 0;
}

.improve p{
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.03em;
    max-width: 1246px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 22px;
    margin-top: 22px;
    padding: 0 40px;
}

.prices {
    max-width: 100%;
    width: 100%;
    padding-bottom: 15px;
}

.prices .upper-paragraph {
    font-size: 15px;
    line-height: 36px;
    letter-spacing: 0.006em;
    max-width: 1298px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

.prices .lower-paragraph {
    padding: 15px 0;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: .006em;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.prices .wrapper{
	padding-top: 20px;
}
.prices .all {
    background: #EEEEEE;
    border: 1px solid #AAAAAA;
    max-width: 538px;
    width: 100%;
    height: 152px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 20px;
    border-radius: 8px;
    text-align: left;
    padding: 10px 50px;
}

.prices .prices-title {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    line-height: 189%;
    font-size: 22px;
    position: relative;
    padding-left: 45px;
}

.prices .one p::before {
    font-size: 22px;
    content: "1";
    background-color: #D90000;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    left: 0;
    text-align: center;
}

.prices .two p::before {
    font-size: 22px;
    content: "2";
    background-color: #D90000;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    left: 0;
    text-align: center;
}

.prices .three p::before {
    font-size: 22px;
    content: "3";
    background-color: #D90000;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    left: 0;
    text-align: center;
}

.prices .four p::before {
    font-size: 22px;
    content: "4";
    background-color: #D90000;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    left: 0;
    text-align: center;
}



.prices ul {
    line-height: 26px;
    font-size: 18px;
    padding-left: 45px;
}


.about {
    max-width: 100%;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 26px;
}

.about-paragraph{
	max-width: 681px;
	width: 100%;
	padding: 10px 0;
}

.about .first-paragraph {
    padding-bottom: 35px;
}

.about .fr {
    max-width: 811px;
    width: 100%;
    margin-right: -247px;
   position: relative;
}

.about p{
	font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.033em;
}

.about img{
	width: 100%;
    height: auto;
}

.about .front {
    max-width: 400px;
    width: 100%;
    position: absolute;
    bottom: 125px;
    left: -105px;
    box-shadow: 0px 0px 12px rgba(106,106,106,.51);
}

.about .back{
    padding: 62px 0;
    background: #35CD09;
}

.review {
    max-width: 100%;
    width: 100%;
    background: #D6D6D6;
    position: relative;
}

.review .row { position: relative; }

.review-title{
	margin-bottom: 45px;
}

.review .review-paragraph{
	font-size: 17px;
    line-height: 36px;
    letter-spacing: 0.047em;
    font-family: 'Poppins',sans-serif;
    max-width: 1298px;
    margin: 0 auto;    
    margin-bottom: 25px;
}

.review .rater {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    line-height: 120%;
}

.review .arrow {
    position: relative;
    top: -20px;    
    width: 98%;
    z-index: 1;
}

.review .arrow img{ margin: 0 auto; }


.review .star{
	color: #FF0000;
	font-size: 35px;
}

.review .review-content{
	padding: 86px 0;
    position: relative;
}

.review .slideshow-container {
    position: relative;
}

/* Slides */
.review .mySlides {
  display: none;
  text-align: center;
  min-height: 232px;
}

/* Next & previous buttons */
.review .prev, .review .next {
    cursor: pointer;
    position: absolute;
    top: 10px;
    width: auto;
    padding: 7px 17px 8px 18px;
    color: #888888;
    font-weight: 300;
    font-size: 30px; 
    border-radius: 50%;
    user-select: none;
    border: 1px solid #888888;      
    transition: all 0.3s linear;  
}

/* Position the "next button" to the right */
.review .next {
  right: -25px;
}

/* Position the "next button" to the right */
 .review .prev {
 left: -25px;
}

/* On hover, add a black background color with a little bit see-through */
 .review .prev:hover,.review .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
  transform: scale(1.2);

}


.gallery-section{
	max-width: 100%;
    width: 100%;    
}

.gallery-section ul{
	line-height: 0;
	font-size: 0;
}

.gallery-section .wrapper{
	width: 25%;
	display: inline-block;	
}

.gallery-section img{
	width: 100%;
	height: auto;
}
/*footer*/
#footer {
	background: #313131; 
    padding-top: 95px;
}


#footer .bot {
    max-width: 1312px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 27px 0;
}

#footer .bot .right {
    max-width: 192px;
    font-family: 'Century Gothic',sans-serif;
    line-height: 120%;
    letter-spacing: .2em;
    font-size: 15px;
    color: #FFFFFF;
}

#footer .bot .middle{
    line-height: 21px;
    letter-spacing: .2em;
    font-size: 16px;
    color: #FFFFFF;   
}

#footer .bot .left {
    width: 168px;
    font-family: 'Century Gothic',sans-serif;
    line-height: 120%;
    letter-spacing: .2em;
    font-size: 15px;
    color: #FFFFFF;
}

#footer .bot p{ 
	margin-bottom: 10px; 
	text-align: left;
}

#footer .bottom-nav {
	width: 100%;
    padding: 36px;
    background: #35CD09;
}

#footer .bottom-nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    color: #FFFFFF;
    font-family: 'Poppins',sans-serif;
    letter-spacing: .041em;
    line-height: 120%;
    font-weight: 300;
    font-size: 17px;
}

#footer nav ul li.active-menu a, #footer nav ul li a:hover {
    transition: all 0.4s linear;
    color: #313131;    
    border-bottom: 5px solid transparent;
    border-color: #313131;
}

#footer .icon{
	position: relative;
	width: 100%;
	max-width: 309px;
	padding-left: 90px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Century Gothic',sans-serif;    
    color: #FFFFFF;    
    font-weight: 700; 
}

#footer .email-icon::before {
	content: '';
	display: block;
	position: absolute;    
    background: #35CD09 url(../images/content/email.png) no-repeat center;
    height: 70px;
    width: 70px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

#footer .phone-icon::before {
	content: '';
	display: block;
	position: absolute;    
    background: #35CD09 url(../images/content/phone.png) no-repeat center;
    height: 70px;
    width: 70px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}


#footer .left .label {
	line-height: 120%;
    letter-spacing: .1em;
    font-size: 15px;   
}

#footer .input-type {


}
#footer .left .email {
	line-height: 147%;
    letter-spacing:.1em;
    font-size: 18px;  
}

#footer .left .label, #footer .right .label {
	line-height: 120%;
    letter-spacing: .1em;
    font-size: 15px;   
}

#footer .left .email:hover,#footer .right .phone:hover { 
    transition: all 0.1s linear; color:#35CD09;
} 

#footer .left .email a{
	line-height: 147%;
    letter-spacing:.1em;
    font-size: 18px;  
}

#footer .right .phone a{
	line-height: 140%;
    font-size: 32px;
}

#footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
}


#footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1310px;
    padding: 0 0 30px;
}

#footer .wrapper > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}

#footer .wrapper .left{ max-width: 315px; padding-right: 10px; }
#footer .wrapper .middle{ max-width: 333px; padding-right: 10px; }
#footer .wrapper .right{ max-width: 309px; }


/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*#footer .wrapper .icon{
    height: 70px;
    max-width: 70px;
    width: 100%;
    background-color: #35CD09;
    position: relative;
}
*/

/*scroll down*/
#header .logo-small {    
    margin-top: 0!important;
    margin-bottom: 0!important;
}

#header .logo-small img { width: 100px!important;}

.navbarcss{
    position: fixed;
    z-index: 2;
    background: #FFF;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
}

.navbarcss nav ul { padding-top: 25px!important;}

/*inner pages*/
.inner #content {min-height: 400px;padding: 120px 0 40px}
.inner #content .row { max-width: 1024px; }
.inner #gallery { padding: 0; background: none; }

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/

@media screen and (max-width: 1919px){
    .welcome .fr { max-width: 794px; margin-left: 20px; margin-right: -125px; }
    .about .fr { max-width: 711px; margin-left: 20px; margin-right: -125px }
    .about .front { max-width: 50%;}
}

@media screen and (max-width: 1679px){
    .welcome .fr { max-width: 694px; margin-right: -27px; }
    .about .fr { max-width: 611px; margin-right: -27px }
}

@media screen and (max-width: 1479px){
    .welcome .fl { max-width: 50%; }
    .welcome .fr { max-width: calc(50% - 20px); margin-right: 0;}
    .about {padding: 0; margin: 15px 0;}
    .about .fr {max-width: 40%; margin-right: 0;}    
    .about .fl{ max-width: 47%;}
    .about .front {max-width: 47%;}
    .about .about-paragraph h3{ padding-bottom: 15px; }
    .review .review-content {padding: 40px 0; }
    .services { margin-bottom: 0; }
    .services .wrapper { margin-bottom: 15px;}
    .services .services-wrappers {margin: 15px 0;} 
    .services .wrapper span {font-size: 19px; line-height: 1.2; font-weight: 700; }
    .review .prev {left: 15px; }
    .review .next { right:15px; }
    .review .review-paragraph { max-width: 80%; width: 100%; }
    
    #footer .wrapper { padding: 15px 0 15px; }
    #footer .wrapper .middle{ padding-right: 110px;}
    #footer .wrapper .middle { max-width: 220px;}
    #footer .wrapper .middle img{ max-width: 200px;}
    h1 {font-size: 32px; font-weight: 700;  line-height: 1.2 !important; letter-spacing: normal !important; }
    h2 {font-size: 30px; font-weight: 700;  line-height: 1.2 !important; letter-spacing: normal !important; }
    h3 {font-size: 29px; font-weight: 700;  line-height: 1.2 !important; letter-spacing: normal !important; }
    p,li{ font-size: 16px !important; line-height: 1.2 !important; letter-spacing: normal !important; }
    .line {margin: 15px 0;}

}


@media screen and (max-width: 1299px){
    #header .logo img{ width: 200px; }    
    #header .top .fl{ margin-left: 200px; }
    #header .tel a{ font-weight: 700; font-size: 21px;  } 
    #header .social a{font-size: 30px;  } 
    #header .wrapper .fr {max-width: 290px; }
    #header nav ul li a {font-size: 13px; }
    #header nav ul {padding-top: 30px; }
    #header nav ul li { margin-right: 24px; }
    #header .bot .logo { margin-bottom: -74px; }
    .lower-banner .lb-title { font-size: 24px; }     
    .about .front {width: 45%;}
    .welcome .header { font-size: 20px;}
    .welcome .sub-heading {font-size: 19px; }
    .welcome p {letter-spacing: normal; font-size: 16px; line-height: 1.2; margin-bottom: 30px; } 
    .lower-contact input[type="text"] { max-width: 100%; width: 100%;     margin: 0 0 20px 0;}
    .lower-contact textarea { text-align: left; }
    .ctc-form{ padding: 20px; }

   /* .lower-contact textarea {max-width: unset; text-align: left;margin:10px 0; }*/
  }


@media screen and (max-width: 959px){

    .lower-contact input[type="text"] { max-width: 100%; width: 100%;}
    h1{font-weight: 700;}
    p{ font-size: 16px; line-height: 1.2; letter-spacing: normal;}
	#header {padding: 0;}
    .welcome .fl { float: none; max-width: 100%; margin-bottom: 15px; margin-bottom: 15px; text-align: center; padding-top: 0px;} 
    .welcome .fr { float: none; max-width: 100%; margin-left: 0; }
    .welcome .btn-long a{ margin: 0 auto;}
    .about .fl  {float: none; max-width: 100%; width: 100%;  }
    .about .fr {float: none; max-width: 100%; width: 100%; margin-left: 0; }
    .about-paragraph {text-align: center; max-width: 100%; } 
    .about .first-paragraph { padding-bottom: 10px; }
    .about .front{position: static; margin: 0 auto; margin-top: 10px; margin-bottom: 30px;}
    .prices .all { margin: 10px 0; padding: 10px;}
    .navbarcss {position: relative;}
    #header .wrapper .fr, #header .wrapper .fl{ float:none; margin: 0 auto; }
    #header { top: 30px; position: relative; padding-bottom: 30px;}
    #header nav {display:block; height: auto; max-height: unset; position: fixed; top: 0; left:0; width: 100%; z-index: 3;}
    .review .review-paragraph { max-width: 60%; }
    #header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px!important; background-color: rgba(255,255, 255, .8);}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0; border:0; }
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
	#header .logo {position: static !important; display: block !important; margin: 0 auto; float: none; z-index: 0 !important; margin-top: 0px !important; margin-bottom: 0px !important; } 
    #header .logo img { margin: 0 auto;}
    #header .bot .fr{float: none;}    
    #header .bot .row {width: 100%; margin: 0 auto; padding-left: 0; padding-right: 0;}
    #header .top .fl {margin-left: 0; }
   #footer .wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
    #footer .wrapper > div { flex: auto; }
    #footer .wrapper .middle {order: 1; padding-left: 10px;}
    #footer .wrapper .left {order: 2; max-width: 325px;padding-left: 10px; }
    #footer .wrapper .right {order: 3; max-width: 329px;padding-left: 10px; padding-right: 10px; }
    #footer .bot-footer {max-width: 100%; flex-wrap: wrap; justify-content: space-evenly !important; font-size: 16px;}
    #footer .bot-footer .middle {order: 3; padding: 10px; margin-right: 10px;}
    #footer .bot-footer .left {order: 1; padding: 10px; margin-right: 10px;}
    #footer .bot-footer .right {order: 2; padding: 10px;margin-right: 10px;}
    #footer .bottom-nav {padding: 15px 0; line-height: 1.2; }
    
    .navbarcss { position: unset;}
    .cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}

@media screen and (max-width: 500px){ 
    .services .wrapper { margin: 10px 0;}
    .g-recaptcha{ transform: scale(.75); }
    #footer .left .email a { word-break: break-all; }
    #footer .bottom-nav ul li { margin: 0 5px 10px;}
    #footer .bot p {margin: 10px 0;}
}